@import 'tailwindcss';

html,
body {
	font-family: 'SUSE', sans-serif;
	font-size: 16px;
	color: #838383;
	background-color: #f6f1ff;
}

@theme {
	--color-primary: #725cee;
	--color-purple: #b7a5f6;
	--color-purple-light: #e1cdff;
	--color-purple-dark: #735def;
	--color-yellow: #ffc636;
	--color-yellow-bright: #fde254;
	--color-pink: #fbc4f4;
	--color-pink-light: #fdc2f6;
	--color-turquoise: #1fc3ad;
	--color-gray: #c6c6c6;
	--color-gray-light: #f6f6f6;
}
