@import 'tailwindcss';

@theme {
	--color-primary: #806df2;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
	font-size: 16px;
}

html,
body {
	font-family: var(--font-poppins), sans-serif;
}

body {
	@apply bg-gradient-to-t from-[#f3eeff] to-[#f6f5ff] dark:from-[#1a1a1a] dark:to-[#121212] text-[#2a2a2a] dark:text-[#f5f5f5];

	min-width: 320px;
	min-height: 100vh;
}
